@using assigmentMVC2.Models.ViewModels
@model assigmentMVC2.Models.ViewModels.CreatePersonView

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CreatePersonViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            @*<div asp-validation-summary="All"></div>*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PersonName" class="control-label"></label>
                <input asp-for="PersonName" class="form-control" />
                <span asp-validation-for="PersonName" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="CityCode" class="control-label"></label>
                <select asp-for="Cities" asp-items=@Model.Cities class="form-control">
                  <option disabled selected>--Select city--</option>
                </select>
                <span asp-validation-for="Cities" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                @*<label asp-for="CityName" class="control-label"></label>
                <select asp-for="Countries" asp-items=@Model.Countries class="form-control">
                <option disabled selected>--Select city--</option>
                </select>*@
                <label asp-for="CityId" class="control-label"></label>
                <select class="form-control" asp-for="CityId">
                    @foreach (CountryView country in Model.Countries)
                    {
                        <optgroup label="@country.Name">
                            @foreach (City city in country.Cities)
                            {
                                <option value="@city.Id">@city.Name</option>
                            }
                        </optgroup>
                    }
                </select>

                <span asp-validation-for="Countries" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
           
            <div class="form-group pt-2">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-secondary" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

<div>
    
</div>