@using assigmentMVC2.Models.ViewModels
@model List<PersonView>
@{
    ViewData["Title"] = "Person";
}


<div class="row">
    <div class="col-6">
        <h1>Person List</h1>
    </div>
    <div class ="col-6 text-end">
        <a asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-circle-fill"></i>&nbsp; Add a Person to the List</a>
    </div>
    
</div>


<div class="row">
    <div class="col-1">Id</div>
    <div class="col-3">Name</div>
    <div class="col-3">City</div>
    <div class="col-3">Phone Number</div>
    <div class="col-1"></div>
    <div class="col-1"></div>
</div>
@foreach (PersonView person in Model)
{
    <partial name="_PersonRow" model="person"></partial>
}