@model Person

<div class="row pt-2">
    <div class="col-1">@Model.Id</div>
    <div class="col-3">@Model.PersonName</div>
    <div class="col-3">@Model.City</div>
    <div class="col-2">@Model.PhoneNumber</div>
</div>